# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env
.ipynb_checkpoints/
.pytest_cache/
.coverage
htmlcov/
*.log

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Databases and Large Files
chroma_database/
*.db
*.sqlite3
resources/